<!DOCTYPE html>
<html>
<head>
    <title>Filter Author</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">Filter authors</h1>

<form name="filter-author" method="POST" action="/authors/filter">
    <table>
        <tr>
            <% if (!failedFields) { var failedFields = []} %>
            <% if (!values) { var values = {}} %>
            <td>Filter by language: </td>
            <td><input type="text" id="filter-language" name="language" value=<%= values.language %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "language").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Filter"></td>
        </tr>
    </table>
</form>

<h2 class="subtitle">Result</h2>

<% if(isBeforeSearch) { %>
    <p>Please enter language to filter upon.</p>
<% } else if(foundAuthors.length === 0) { %>
    <p>No authors found for that language.</p>
<% } else { %>
    <p>Here are the author found for language: <%= values.language %></p>
    <ul>
        <% foundAuthors.forEach(author => { %>
            <li>
                <%= author.name %> (<%= author.pseudo %>)
                <a href=<%= `/authors/${author.id}` %>>
                    <button>See details</button>
                </a>
            </li>
        <% }) %>
    </ul>
<% } %>
</body>
</html>
