<!DOCTYPE html>
<html>
<head>
    <title>Author <%= author.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">Author n°<%= author.id %></h1>
<ul>
    <li> Name: <%= author.name %>  </li>
    <li> Pseudo: <%= author.pseudo %>  </li>
    <li> Email: <%= author.email %>  </li>
    <li> Language: <%= author.language %>  </li>
</ul>

<button onclick = "deleteAuthorById(<%= author.id %>)" %> > Delete </button>
<script>
function deleteAuthorById (authorId) {
  fetch(`/authors/${authorId}`, { method: 'DELETE' })
  .then(() => {
    window.location.replace('/authors')
    
  })
}
</script>


<h2 class="subtitle">Author’s books</h2>
 <ul>
            <% books.forEach(book => { %>
                <li> <%= book.title %>
                    <button onclick = "deleteBookById(<%= book.id %>, <%= author.id %>)" %> > Supprimer </button>
                </li>
            <% }) %>
        </ul>
<ul>
    <li> Name: <%= author.name %>  </li>
    <% if(author.pseudo) { %>
    <li> Pseudo: <%= author.pseudo %>  </li>
    <% } %>
    <li> Email: <%= author.email %>  </li>
    <li> Language: <%= author.language %>  </li>
</ul>
<a href=<%= `/authors/${author.id}/books/new` %>>
    <button>Create new book</button>
</a>
</body>
<script>
    function deleteBookById(bookId) {
        fetch(`/authors/<%= author.id %>/books/${bookId}`, { method: 'DELETE' })
        .then(() => {
            window.location.reload()
        })
        .catch(() => {})
    }
</script>
</html>
