<!DOCTYPE html>
<html>
<head>
    <title>Author <%= author.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">Author n°<%= author.id %></h1>
<ul>
    <li> Name: <%= author.name %>  </li>
    <% if(author.pseudo) {%> 
        <li> Pseudo: <%= author.pseudo %>  </li>
    <% } %>
    <li> Email: <%= author.email %>  </li>
    <li> Language: <%= author.language %>  </li>
</ul>

<h2 class="subtitle">Author’s books</h2>
<ul>
    <% if(books.length === 0) { %>
        No books found for that author.
    <% } else { %>
        <ul>
            <% books.forEach(book => { %>
                <li> <%= book.title %> 
                    <button onclick = "deleteBookById(<%= book.id %>, <%= author.id %>)" %> > Supprimer </button>
                </li>
            <% }) %>
        </ul>
    <% } %>
</ul>
<a href=<%= `/authors/${author.id}/books/new` %>>
    <button>Create new book</button>
</a>
<script>
    function deleteBookById (bookId, authorId) {
    fetch(`/authors/${authorId}?bookToDelete=${bookId}`, { method: 'DELETE' })
    document.location.href=`/authors/${authorId}`
    }
</script>
</body>
</html>
